beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
configparser==5.0.0
crayons==0.3.0
enum34==1.1.10
idna==2.9
json5==0.8.5
requests==2.23.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
urllib3==1.26.5
vk-api==11.8.0
webdriver-manager==2.3.0
